.header {
  height: 70px;
  padding: 16px 2%;
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 5;
  &__top{
    padding-bottom: 10px;
    border-bottom: 1px solid whitesmoke;
    &--buscar {
      height: 38px;
      background-color: #efefef;
      border-radius: 5px;
    }
    & input {
      border: none;
      height: 34px;
      background-color: transparent;
      outline: none;
      width: 90%;
      margin-left: 2%;
    }
  }
  &__below{
    margin: 0 auto;
    text-align: center;
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 0.91);
    color: #fff;
    &--seguir{
      font-size: 1.4rem;
      font-weight: bold;
      border:0;
      padding: 10px;
      background-color: #B80D21;
      width: 150px;
    }
    &--icon{
      color: rgb(195, 195, 195);
      font-size: 3rem;
    }
  }
}
