header {
    height: 70px;
    padding: 16px 2%;
    border-bottom: 1px solid whitesmoke;
    position: fixed;
    & .buscar {
        height: 34px;
        background-color: #efefef;
        border-radius: 5px;
    }
    & input {
        border: none;
        height: 34px;
        background-color: transparent;
        outline: none;
        width: 90%;
        margin-left: 2%;
    }
}
